<ion-view view-title="Amplify Bills">
  <ion-content class="home-bg">
    <div class="text-center">
      <h4 style="color: white"><strong>Top Services</strong></h4>
    </div>
    <div class="row">
      <div class="col">
        <a class="item menu-item full-width" ui-sref="app.dstv">
          <img src="img/dstv-80x80.png"/><br/>
          <span>DSTV</span>
        </a>
      </div>
      <div class="col">
        <a class="item menu-item full-width" ui-sref="app.gotv">
          <img src="img/gotv-80x80.png"/><br/>
          <span>GoTV</span>
        </a>
      </div>
      <div class="col">
        <a class="item menu-item full-width" ui-sref="app.startimes">
          <img src="img/startimes-80x80.png"/><br/>
          <span>Startimes</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="item menu-item full-width" ui-sref="app.smile">
          <img src="img/smile-80x80.png"/><br/>
          <span>Smile</span>
        </a>
      </div>
      <div class="col">
        <a class="item menu-item full-width" ui-sref="app.spectranet">
          <img src="img/spectranet-80x80.png"/><br/>
          <span>Spectranet</span>
        </a>
      </div>
      <div class="col">
        <a class="item menu-item full-width" ui-sref="app.swift">
          <img src="img/swift-80x80.png"/><br/>
          <span>Swift</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="item menu-item full-width" ui-sref="app.ekedc">
          <img src="img/ekedc-80x80.png"/><br/>
          <span>EKEDC</span>
        </a>
      </div>
      <div class="col">
        <a class="item menu-item full-width" ui-sref="app.ikedc">
          <img src="img/ikedc-80x80.png"/><br/>
          <span>IKEDC</span>
        </a>
      </div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
